@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="btn-group" role="group" aria-label="Basic example">
		<button type="button" class="btn btn-secondary">
			<a class="nav-link text-white" asp-area="" asp-controller="Photo" asp-action="Index">Zdjęcia</a>
		</button>
		<button type="button" class="btn btn-secondary">
			<a class="nav-link text-white" asp-area="" asp-controller="Author" asp-action="Index">Autorzy</a>
		</button>
		<button type="button" class="btn btn-secondary">
			<a class="nav-link text-white" asp-area="" asp-controller="Address" asp-action="Index">Adresy</a>
		</button>
	</div>
</div>